/* Change content on the initial Firefox Home/New Tab page */
/* @-moz-document url("about:home"),
               url("about:newtab"),
               url-prefix("chrome://activity-stream/"),
               url-prefix("resource://activity-stream/")
{
  html,
  body {
    background: #1c1b22 !important;
  }
} */

/* Hide content in about:privatebrowsing and change bg-color */
@-moz-document url("about:privatebrowsing") {
  html,
  body {
    background: #1c1b22 !important;
  }

  body > * {
    display: none !important;
  }
}
